<div class="cars-page d-flex flex-column">
    <app-header 
        [colorBackground]="'#FFFFFF'" 
        [colorOfElements]="'#7183A6'" 
        [enableChangeEnvironment]="true"
        [iconChangeEnvironmentPath]="'assets/comum-assets/header/icon-changeEnvironment.svg'"
        [icon1Path]="'assets/comum-assets/header/trakto-edu-logo-dark.svg'"
        [icon2Path]="'assets/comum-assets/header/calendar-icon-gray.svg'"
        [icon3Path]="'assets/comum-assets/header/bell-icon-gray.svg'"
        [iconProfilePath]="'assets/comum-assets/header/Alexa-icon.png'"
        [icon4Path]="'assets/comum-assets/header/arrow-button-down-2-gray.svg'">
    </app-header>

    <div class="cars-block-background">
        aaaaaaaaa
    </div>
</div>