<div class="see-sales-block">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome Carro</th>
                <th>Quantidade</th>
                <th>Nome Comprador</th>
                <th>Nome Vendedor</th>
                <th>Valor</th>
                <th>Data Criação</th>
                <th class="text-center">Observações</th>
                <th class="text-center">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sale of allSales">
                <td>{{sale.Id}}</td>
                <td>{{sale.NomeCarro}}</td>
                <td>{{sale.Quantidade}}</td>
                <td>{{sale.NomeComprador}}</td>
                <td>{{sale.NomeVendedor}}</td>
                <td>{{sale.Valor}}</td>
                <td>{{sale.DataCriacao}}</td>
                <td class="text-center">
                    <button type="button" class="buttons-table btn-description" 
                    data-bs-toggle="modal" data-bs-target="#modalDescricao"
                    (click)="txtDescricaoSale = sale.Descricao">
                        Ver Observações
                    </button>
                </td>
                <td class="text-center">
                    <button data-bs-toggle="modal" data-bs-target="#modalUpdateSale" class="buttons-table"
                    (click)="currentSaleOnUpdate = sale">
                        <img src="assets/see-all-sales-page/icons8-actualizar.svg" 
                        style="height: 23px; width: 23px;">
                    </button>
                    <button class="buttons-table" (click)="deleteSale(sale)">
                        <img src="assets/see-all-sales-page/icons8-lixo.svg" 
                        style="height: 22px; width: 22px;">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDescricao" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Observações da venda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {{txtDescricaoSale}}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUpdateSale" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alterar Dados da Venda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <app-update-sale-block [currentSaleOnUpdate]="currentSaleOnUpdate"
                (completedUpdateSale)="closeModalUpdateSale()"></app-update-sale-block>
            </div>
            <!-- <div class="modal-footer">
                footer para botoes
            </div> -->
        </div>
    </div>
</div>