<div class="opening-page d-flex flex-column">
    <app-header 
        [colorBackground]="'#FFFFFF'" 
        [colorOfElements]="'#000000'" 
        [enableChangeEnvironment]="false" 
        [icon1Path]="'assets/comum-assets/rentcars_logo.svg'" 
        [icon2Path]="'assets/comum-assets/header/calendar-icon-gray.svg'" 
        [icon3Path]="'assets/comum-assets/header/bell-icon-gray.svg'" 
        [iconProfilePath]="'assets/comum-assets/header/Alexa-icon.png'"
        [icon4Path]="'assets/comum-assets/header/arrow-button-down-2-gray.svg'">
    </app-header>
    <div class="background container-fluid flex-grow-1 d-flex justify-content-center">
        <div class="d-flex align-self-center">
            <app-module-content 
                [circleBgPath]="'../../../assets/opening-page/bg-courseware.png'" 
                [imageCenterPath]="'assets/opening-page/handshake.png'"
                [textTittle]="'Criar venda'"
                [colorDivisorTittle]="'#4173CD'" 
                [widthImageCenter]="'230px'" 
                [heightImageCenter]="'230px'" 
                [marginLeftImageCenter]="'10px'" 
                [marginTopImageCenter]="'15px'"
                (clicked)="goToCoursewarePage();">
            </app-module-content>
            <app-module-content 
                [circleBgPath]="'../../../assets/opening-page/bg-quiz.png'" 
                [imageCenterPath]="'assets/opening-page/report.png'"
                [textTittle]="'Suas Vendas'"
                [colorDivisorTittle]="'#1DC763'" 
                [widthImageCenter]="'230px'" 
                [heightImageCenter]="'230px'" 
                [marginLeftImageCenter]="'11px'" 
                [marginTopImageCenter]="'10px'"
                (clicked)="goToSeeSales()">
            </app-module-content>
            <app-module-content 
                [circleBgPath]="'../../../assets/opening-page/bg-youtube.png'" 
                [imageCenterPath]="'assets/opening-page/cars.png'"
                [textTittle]="'Estoque Carros'"
                [colorDivisorTittle]="'#FF0000'" 
                [widthImageCenter]="'180px'" 
                [heightImageCenter]="'180px'" 
                [marginLeftImageCenter]="'32px'" 
                [marginTopImageCenter]="'30px'"
                (clicked)="goToCarsPage()">
            </app-module-content>
            <app-module-content 
                [circleBgPath]="'../../../assets/opening-page/bg-drawing.png'" 
                [imageCenterPath]="'assets/opening-page/car-insurance.png'"
                [textTittle]="'Gerenciar Carros'"
                [colorDivisorTittle]="'#F6B5FF'" 
                [widthImageCenter]="'175px'" 
                [heightImageCenter]="'175px'" 
                [marginLeftImageCenter]="'52px'" 
                [marginTopImageCenter]="'30px'"
                (clicked)="goToManageCarsPage()">
            </app-module-content>
        </div>
    </div>
</div>