.car-block
    width: 300px
    height: 370px
    background-color: #FFFFFF
    margin: 15px
    box-shadow: 3px 3px 3px 1px #0000001c

    .img-car
        height: 200px

        img
            width: 300px
            height: 200px

    .info-car
        padding: 13px
        height: 100%

        .name
            margin-bottom: 8px

        .value
            margin-bottom: 8px

        .description-car
            margin-bottom: 5px

        .marca-e-ano
            margin-bottom: 5px
            margin-top: auto

            .ano
                margin-left: auto