<div class="car-block d-flex flex-column">
    <div class="img-car">
        <img [defaultImage]="defaultImage" [lazyLoad]="image" />
    </div>
    <div class="info-car d-flex flex-column">
        <div class="name-year d-flex">
            <div>
                {{name}}
            </div>
            <div class="year">
                Ano: {{year}}
            </div>
        </div>
        <div class="value d-flex justify-content-center">
            <div class="value-text">
                Valor: R${{value}}
            </div>
        </div>
        <div class="description-car">
            {{description}}
        </div>
    </div>
</div>



