<form class="update-car-block" [formGroup]="formUpdateCar">

    <div class="d-flex first-fields">
        <div class="form-floating">
            <input type="text" class="form-control inpu1-first-fields" 
            id="f-nome-carro{{carToUpdate.Id}}" formControlName="nameCar">
            <label [attr.for]="'f-nome-carro' + carToUpdate.Id">Nome do Carro</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control inpu2-first-fields" 
            id="f-marca-carro{{carToUpdate.Id}}" formControlName="marcaCar">
            <label [attr.for]="'f-marca-carro' + carToUpdate.Id">Marca do Carro</label>
        </div>
        <div class="form-floating">
            <input type="number" class="form-control inpu3-first-fields" 
            id="f-year-car{{carToUpdate.Id}}" formControlName="year" min="0" (keydown)="verifyInputNumber($event)">
            <label class="form-label" [attr.for]="'f-year-car' + carToUpdate.Id">Ano do carro</label>
        </div>
    </div>

    <div class="d-flex second-fields">
        <div class="input-group">
            <span class="input-group-text">R$</span>
            <div class="form-floating">
                <input type="number" id="f-value-min-car{{carToUpdate.Id}}" class="form-control" 
                formControlName="valueMin" min="0" (keydown)="verifyInputNumber($event)">
                <label class="form-label" [attr.for]="'f-value-min-car' + carToUpdate.Id">
                    Valor mínimo de venda
                </label>
            </div>
            <span class="input-group-text">,00</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">R$</span>
            <div class="form-floating">
                <input type="number" id="f-value-max-car{{carToUpdate.Id}}" class="form-control" 
                formControlName="valueMax" min="0" (keydown)="verifyInputNumber($event)">
                <label class="form-label" [attr.for]="'f-value-max-car' + carToUpdate.Id">
                    Valor máximo de venda
                </label>
            </div>
            <span class="input-group-text">,00</span>
        </div>
    </div>

    <div class="d-flex flex-column third-fields">
        <label>Observação</label>
        <textarea class="form-control" aria-label="With textarea" id="f-description-car{{carToUpdate.Id}}"
        formControlName="description"></textarea>
    </div>

    <div class="d-flex fourth-fields">
        <div class="form-floating">
            <input type="text" class="form-control" id="f-img-url{{carToUpdate.Id}}" 
                placeholder="Insira a url da Imagem" formControlName="imgUrl">
            <label [attr.for]="'f-img-url' + carToUpdate.Id">Url da imagem do carro</label>
        </div>
    </div>

    <div class="d-flex fifth-fields justify-content-between">
        <div class="input-group">
            <span class="input-group-text">R$</span>
            <div class="form-floating">
                <input type="number" id="f-value-average-car{{carToUpdate.Id}}" class="form-control" 
                formControlName="valueAverage" min="0" (keydown)="verifyInputNumber($event)">
                <label class="form-label" [attr.for]="'f-value-average-car' + carToUpdate.Id">
                    Média de valor de Venda
                </label>
            </div>
            <span class="input-group-text">,00</span>
        </div>
        <div class="acquisition-date">
            <label [attr.for]="'f-acquisition-date-car' + carToUpdate.Id">
                Data de aquisição do carro
            </label>
            <input id="f-acquisition-date-car{{carToUpdate.Id}}" class="form-control" type="date" 
            formControlName="acquisitionDate">
        </div>
        <button type="button" class="btn btn-primary" (click)="submitUpdateCar()">Atualizar Carro</button>
    </div>
</form>
