<div class="dashboard-page d-flex flex-column">
    <app-header 
        [colorBackground]="'#FFFFFF'" 
        [colorOfElements]="'#7183A6'" 
        [enableChangeEnvironment]="true"
        [iconChangeEnvironmentPath]="'assets/comum-assets/header/icon-changeEnvironment.svg'"
        [icon1Path]="'assets/comum-assets/header/trakto-edu-logo-dark.svg'"
        [icon2Path]="'assets/comum-assets/header/calendar-icon-gray.svg'"
        [icon3Path]="'assets/comum-assets/header/bell-icon-gray.svg'"
        [iconProfilePath]="'assets/comum-assets/header/Alexa-icon.png'"
        [icon4Path]="'assets/comum-assets/header/arrow-button-down-2-gray.svg'">
    </app-header>

    <div class="dashboard-block-background d-flex justify-content-center">
        <iframe title="TesteDadosWeb" width="1140" height="541.25" 
        src="https://app.powerbi.com/reportEmbed?reportId=d574ce31-9b74-45b1-be0b-cdd17b01f6ff&autoAuth=true&embeddedDemo=true" 
        frameborder="0" allowFullScreen="true"></iframe>
        <!-- <iframe src="https://onedrive.live.com/embed?resid=FD363F7E1F61990B%21206&amp;authkey=!ACPmXi589V1dn8c&amp;em=2&amp;wdAr=1.7777777777777777" 
        width="1000px" height="500px" frameborder="0">Este é um apresentação do 
        <a target="_blank" href="https://office.com">Microsoft Office</a> incorporado, da plataforma 
        <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe> -->
    </div>
</div>