<div class="dashboard-page d-flex flex-column">
    <app-header 
        [colorBackground]="'#FFFFFF'" 
        [colorOfElements]="'#7183A6'" 
        [enableChangeEnvironment]="false"
        [iconChangeEnvironmentPath]="'assets/comum-assets/header/icon-changeEnvironment.svg'"
        [icon1Path]="'assets/comum-assets/rentcars_logo.svg'"
        [icon2Path]="'assets/comum-assets/header/calendar-icon-gray.svg'"
        [icon3Path]="'assets/comum-assets/header/bell-icon-gray.svg'"
        [iconProfilePath]="'assets/comum-assets/header/Alexa-icon.png'"
        [icon4Path]="'assets/comum-assets/header/arrow-button-down-2-gray.svg'">
    </app-header>

    <div class="dashboard-block-background d-flex justify-content-center">
        <iframe title="TesteDadosWeb" width="1140" height="541.25" 
        src="https://app.powerbi.com/reportEmbed?reportId=d574ce31-9b74-45b1-be0b-cdd17b01f6ff&autoAuth=true&embeddedDemo=true" 
        frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
    <span class="d-flex justify-content-center mt-2">
        *Os dados não são atualizados em real-time. Portanto, para atualizar é necessário alterar 
        o documento do powerBI e atualizar a publicação.
    </span>
</div>