.car-edit-delete-block
    width: 300px
    height: 460px
    background-color: #FFFFFF
    margin: 15px
    box-shadow: 3px 3px 3px 1px #0000001c
    cursor: pointer

    .img-car
        height: 200px

        img
            width: 300px
            height: 200px

    .info-car
        padding: 13px 13px 0px 13px
        height: 100%

        .name
            margin-bottom: 8px

        .value
            margin-bottom: 8px
        
        .value-min-max
            margin-bottom: 5px
            // margin-top: auto

            .value-max
                margin-left: auto

        .description-car
            margin-bottom: 5px

        .marca-e-ano
            // margin-bottom: 5px
            margin-top: auto

            .ano
                margin-left: auto

    .edit-delete

        .btn-edit
            padding: 10px
            margin: 15px 10px 15px 10px

        .btn-delete
            padding: 10px
            margin: 15px 10px 15px 10px