<form class="create-car-block" [formGroup]="formCreateCar">

    <div class="d-flex first-fields">
        <div class="form-floating">
            <input type="text" class="form-control" id="f-nome-carro" placeholder="Insira o nome"
                formControlName="nameCar">
            <label for="f-nome-carro">Nome do Carro</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="f-marca-carro" placeholder="Insira a marca"
                formControlName="marcaCar">
            <label for="f-marca-carro">Marca do Carro</label>
        </div>
        <div class="form-floating">
            <input type="number" id="f-year-car" class="form-control" 
            formControlName="year" min="0" (keydown)="verifyInputNumber($event)">
            <label class="form-label" for="f-year-car">Ano do carro</label>
        </div>
    </div>

    <div class="d-flex second-fields">
        <div class="input-group">
            <span class="input-group-text">R$</span>
            <div class="form-floating">
                <input type="number" id="f-value-min-car" class="form-control" 
                formControlName="valueMin" min="0" (keydown)="verifyInputNumber($event)">
                <label class="form-label" for="f-value-min-car">Valor mínimo de venda</label>
            </div>
            <span class="input-group-text">,00</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">R$</span>
            <div class="form-floating">
                <input type="number" id="f-value-max-car" class="form-control" 
                formControlName="valueMax" min="0" (keydown)="verifyInputNumber($event)">
                <label class="form-label" for="f-value-max-car">Valor máximo de venda</label>
            </div>
            <span class="input-group-text">,00</span>
        </div>
    </div>

    <div class="d-flex flex-column third-fields">
        <label>Observação</label>
        <textarea class="form-control" aria-label="With textarea"
        formControlName="description"></textarea>
    </div>

    <div class="d-flex fourth-fields">
        <div class="form-floating">
            <input type="text" class="form-control" id="f-img-url" placeholder="Insira a url da Imagem"
                formControlName="imgUrl">
            <label for="f-img-url">Url da imagem do carro</label>
        </div>
    </div>

    <div class="d-flex fifth-fields justify-content-between">
        <div class="input-group">
            <span class="input-group-text">R$</span>
            <div class="form-floating">
                <input type="number" id="f-value-average-car" class="form-control" 
                formControlName="valueAverage" min="0" (keydown)="verifyInputNumber($event)">
                <label class="form-label" for="f-value-average-car">Média de valor de Venda</label>
            </div>
            <span class="input-group-text">,00</span>
        </div>
        <div class="acquisition-date">
            <label for="f-acquisition-date-car">Data de aquisição do carro</label>
            <input id="f-acquisition-date-car" class="form-control" type="date" 
            formControlName="acquisitionDate">
        </div>
        <button type="button" class="btn btn-primary" (click)="submitCreateCar()">Adicionar Carro</button>
    </div>
</form>
